@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import './variables';


* {
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px;
}

body {
    background-color: $light-200;
}

// Layout


// Typography


// Utility Classes
.section__header {
    font-weight: 700;
    margin: 1em 0;
}
.btn {
    font-size: 80%;
    padding: .75em 1.5em;
    font-weight: $fw-bold;
    &-primary {
        border: 1px solid $primary;
        background-color: $primary;
        color: $dark
    }
}
.success {
    color: $success;
}